img {
  position: absolute;
}

.bg {
  left: 0px;
  top: 0px;
  pointer-events: none;
}

.foo {
  width: 25px;
  transition: all 0.6s;
}

#who1 {
  left: 360px;
  top: 190px;
}

#who2 {
  left: 360px;
  top: 280px;
}

#who3 {
  left: 450px;
  top: 290px;
}

#who4 {
  left: 600px;
  top: 220px;
}

#who5 {
  left: 720px;
  top: 260px;
}

.butterfly {
  width: 80px;
  transition: all 1s;
}

#bt1 {
  left: 150px;
  top: 400px;
}

#bt2 {
  left: 372px;
  top: 350px;
}

#bt3 {
  left: 590px;
  top: 430px;
}

#message {
  position: absolute;
  color: #C91F5E;
  font-weight: bold;
  left: 20px;
  top: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 22px;
  padding: 12px;
  pointer-events: none;
}